<app-user-navbar></app-user-navbar>
<h2 style="text-align: center;">CANDIDATES</h2>
<div class="row" *ngIf = "show"> 
    <div class="col-sm-3" *ngFor ="let candidate of this.candidates" style="padding: 10px;">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Name : {{candidate.name}}</h5>
          <p class="card-text">Party : {{candidate.partyName}}</p>
          <button class="btn btn-success" [disabled]="candidate.clicked" (click) = "vote(candidate);candidate.clicked=true">Vote</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!show">
    <div class="alert alert-info" role="alert">You Have Reached Maximum Vote Limit of Four.Thanks For Your Votes</div>
  </div>
  