<app-navbar></app-navbar>
<div class="login-form">
    <form name="form" [formGroup] = "form" (ngSubmit) = "form.valid && onSubmit()">
        <h2 class="text-center">Admin Log in</h2>       
        <div class="form-group" >
            <input type="text" class="form-control" formControlName = "adminId" placeholder="Admin Id" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName = "adminPassword" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>        
    </form>
</div>